{% extends "layout.html" %}

{% block title %}
    Add exercise
{% endblock %}

{% block main %}
    <form action="/addExercise" method="post">
        <div class="mb-3">Add exercise to workout</div>
        <div class="mb-3"><input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="exercise" placeholder="Exercise" type="text" required></div>
        <div class="mb-3"><input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="sets" placeholder="Sets" type="number" min="1" required></div>
        <div class="mb-3"><input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="reps" placeholder="Reps" type="number" min="1" required></div>
        <div class="mb-3"><input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="startWeight" placeholder="Start Weight" type="number" min="0" required></div>
        <div class="mb-3">
            Progression weight to add (kg/lbs)
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="addWeight" placeholder="Progression Weight" type="number" min="0" step="0.01" required></div>
        <div class="mb-3"><td><button class="btn btn-primary" type="submit" name="addExercise">Add exercise</button></td></div>
    </form>
{% endblock %}

